#homespan
  #overlay
    = link_to 'Download Resumes', admin_resume_path
    %br/
    = link_to 'Download Student Information', admin_students_path
    %br/
    = link_to 'Download Company Information', admin_companies_path